replicaCount: 1
app: goorm

image:
  repository: goorm-app
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

nodeSelector: {}
tolerations: []
affinity: {}

config:
  enabled: true
  data:
    SPRING_PROFILES_ACTIVE: "dev"
    SERVER_PORT: "8080"
    # Internal service endpoints
    USER_SERVICE_URL: "http://user:8080"
    PRODUCT_SERVICE_URL: "http://product:8080"
    ORDER_SERVICE_URL: "http://order:8080"
    PAYMENT_SERVICE_URL: "http://payment:8080"

    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector-collector.observability.svc.cluster.local:4317"
    OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
    # Trace 추적에서 제외할 path들. 콤마로 이어붙여서 여러개를 쓸 수 있음 (spring security 처럼)
    # OTEL_INSTRUMENTATION_HTTP_SERVER_EXCLUDED_PATHS: "/actuator/health"

    DB_DRIVER: "org.postgresql.Driver"

    REDIS_COMMAND_TIMEOUT: "2000"
    REDIS_CONNECT_TIMEOUT: "2000"

secrets:
  enabled: true
  name: goorm/msa/secret
  data:
